.spinner {
  margin-top: 5px;
  animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */
/* <-------------Home page header-------------> */
.headerbg {
  height: 50vh;
  background-color: #0089ed;
  padding-bottom: 50px;
}
.logoStyling {
  color: #ffffff;
  padding-left: 80px;
  padding-top: 50px;
  font-size: 25px;
  line-height: 30px;
}
.headerContainer {
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.headerImage {
  width: 100%;
  margin: auto;
}
.modal-content {
  border-radius: 20px !important;
  padding: 20px !important;
}

.signinBtn {
  width: 100%;
  background-color: #0098ed !important;
  margin: 25px auto;
  border: 50px;
  text-align: center;
}
.googleIcon {
  font-size: 20px !important;
  margin-right: 30px !important;
}
.googleLoginBtn {
  width: 100%;
  background-color: #e9f1ff !important;
  margin: 25px auto;
  border: 50px;
  text-align: center;
  color: #0089ed !important;
}

.welcometotextit {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.userContact {
  display: flex;
  justify-content: space-between;
  gap: 3px;
}
.authModal {
  background-color: #fff;
  position: absolute;
  top: 130px;
  right: 100px;
  width: 450px;
  padding: 20px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .authModal {
    top: 120px;
    right: 30px;
    width: 390px;
  }
}
@media (max-width: 992px) {
  .headerImage {
    display: none !important  ;
  }
}
@media (max-width: 850px) {
  .authModal {
    top: 110px;
    right: 20px;
    width: 385px;
  }
}
@media (max-width: 677px) {
  .authModal {
    top: 100px;
    right: 10px;
    width: 350px;
  }
}
@media (max-width: 600px) {
  .headerUpperText {
    display: none;
  }
  .headerbg {
    height: 100vh;
  }
  .authModal {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100% !important;
  }
  .logoStyling {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 575px) {
  .googleIcon {
    margin-right: 15px !important;
  }

  .errorForgetPassword {
    flex-direction: column !important;
    gap: 10px !important;
  }
  .modal-content {
    border-radius: 0px !important;
  }
}
@media (max-width: 350px) {
  .welcometo {
    display: none;
  }
  .userContact {
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    gap: 3px;
  }
}
.pointer {
  cursor: pointer !important;
}
.forgetPassword {
  color: #0098ed !important;
}
.errorForgetPassword {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.f13 {
  font-size: 13px !important;
}
.sendAgainBtn {
  background-color: #fff !important;
  font-size: 13px !important;
  padding: 5px !important;
  color: #0089ed !important;
  width: 90px !important;
  text-align: center !important;
  height: 30px !important;
  margin-left: auto !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.formlable {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}
.formControl::placeholder {
  font-family: poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.haveAnAccount {
  font-size: 13px;
  line-height: 19.5px;
}
.welcomeToP {
  font-size: 21px;
  line-height: 31px;
}
/* <--------------SearchBar Component------------------> */
.searchBarDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 380px;
  padding: 10px 0;
  padding-left: 20px;
  border-right: 1px solid #d9dce0;
}
.searchBar {
  height: 40px !important;
  border-radius: 22px !important;
  padding-left: 35px !important;
  background: url("../assests/images/MagnifyingGlass.png") no-repeat left;
  background-size: 17px;
  background-position-x: 10px;
  margin-left: 10px;
  width: 276px !important;
  box-sizing: border-box !important;
}
.searchBar::placeholder {
  padding-left: 45px !important;
}
/* <--------------TopBar Component------------------> */
.topBarMainDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 40px;
  background: #ffffff;
  border-bottom: 1px solid #d9dce0;
  height: 60px;
}
.topBarIcons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}
/* <--------------TopBar Component------------------> */
.checking {
  width: 380px;
  height: 92vh;
  overflow-y: auto;
}
.checking2 {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  background-color: #0089ed;
}
.checking2::-webkit-scrollbar {
  display: none;
}
.checking::-webkit-scrollbar {
  width: 1px !important;
  z-index: 2 !important;
  margin: auto;
}
.checking::-webkit-scrollbar-track {
  background-color: #d9dce0 !important;
}
.checking::-webkit-scrollbar-thumb {
  background-color: #d9dce0 !important;
}
/* .checking::-webkit-scrollbar {
  display: none;
} */
.bgchecking {
  background: url("https://img.freepik.com/free-photo/blue-smooth-wall-textured-background_53876-106133.jpg?w=996&t=st=1679645977~exp=1679646577~hmac=3fd902c22ace00dbb5dc7f2f72821b54a29293d47435f34ce79e0834b9299e39")
    no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 100% !important; */
}
