body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./assests/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./assests/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assests/fonts/Poppins-SemiBold.ttf");
}

.poppins300 {
  font-family: Poppins-Light !important;
}
.poppins400 {
  font-family: Poppins-Regular !important;
}
.poppins600 {
  font-family: Poppins-SemiBold !important;
}
.color {
  color: #0089ed;
}
